<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
  <h3>Validation</h3>
  <div th:text="*{message}"></div>
  <form action="/validation/validate" method="post" th:object="${sv}">
    <input th:field="*{email}" placeholder="Email Address?">
      <i th:errors="*{email}"></i> <br>

    <input th:field="*{fullname}" placeholder="Full name?">
      <i th:errors="*{fullname}"></i> <br>

    <input th:field="*{marks}" placeholder="Averange Marks?">
    <i th:errors="*{marks}"></i> <br>

    <input th:field="*{gender}" th:value="true" type="radio"> Male
    <input th:field="*{gender}" th:value="false" type="radio"> Female
    <i th:errors="*{gender}"></i> <br><br>

    <select th:field="*{country}">
      <option value="">Nationality?</option>
      <option value="VN">Việt Nam</option>
      <option value="US">United States</option>
    </select>
    <i th:errors="*{country}"></i>
    <hr>
    <button>Save</button>
  </form>
</body>
</html>