<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="sv,state:${dssv}">
        <a th:href="@{|/student/list?index=${state.index}|}">[[${sv.name}]]</a>
    </li>
</ul>
<h3>Student Detail</h3>
<ul th:object="${sv}">
    <li><i>Name: </i><b th:text="*{name}"></b></li>
    <li><i>Marks: </i><b th:text="*{marks}"></b></li>
    <li><i>Gender: </i><b th:text="*{gender}?'Male':'Female'"></b></li>
    <li><i>Mail: </i><b th:text="*{contact.email}"></b></li>
    <li><i>Phone: </i><b th:text="*{contact.phone}"></b></li>
    <li><i>Subjects: </i>
        <ul>
            <li th:each="subject: *{subject}">
                <b th:text="${subject}"></b>
            </li>
        </ul>
    </li>
    <li th:switch="*{#arrays.length(subject)}">
        <i>Time</i>
        <b th:case="1">mới vào</b>
        <b th:case="2">Đag học</b>
        <b th:case="*">Sắp ra trường</b>
    </li>
    <li th:if="*{marks} >= 9"><i>Title:</i><b>Golden Bee</b></li>
</ul>
<br>
<hr>
<br>
<h3>UTILITY OBJECT</h3>
<b>Tổng hợp</b>
<ul>
    <li>Today: <i th:text="${#dates.format(now,'EEE, dd-MM-yyyy')}"></i></li>
    <li>Number Of Student: <i th:text="${#lists.size(dssv)}"></i></li>
</ul>
<b>DANH SÁCH SINH VIÊN</b>
<ul th:each="sv: ${dssv}" th:object="${sv}">
    <li>
        Name: <b th:text="*{#strings.capitalizeWords(name)}"></b>
    </li>
    <li>
        Marks: <b th:text="*{#numbers.formatDecimal(marks, 0,'COMMA',2,'POINT')}"></b>
    </li>
    <li>
        Number of subjects: <b th:text="*{#arrays.length(subject)}"></b>
    </li>
</ul>
</body>
</html>